# Ignore environment variable files, except for the example file
# Copy .env.example to your own .env.local file, and they paste in the API key values yourself
.env.*
!.env.example

# `npm i` installs these, and it can be very large. 
node_modules/

# Python
venv/
.venv/
*.egg-info/
__pycache__/
.pytest_cache/
*.pyc

# Database
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/
__pycache__/
